<ion-app>
    <ion-menu side="end" menuId="first" contentId="main-content" *ngIf="isAuth$ | async">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Start Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>

            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="logout()"
                >
                    <ion-icon name="exit-outline" slot="start"></ion-icon>
                    Logout
                </ion-item>
            </ion-menu-toggle>

        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
